* {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    border: 1px solid black;
    margin: auto;
    
}

.header {
    text-align: center;
}

.todo-input {
    display: flex;
    justify-content: center;
}

.todo-value {
    padding: 5px 3px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

/* .add-btn {
    display: inline;
} */

ul, .each-todo {
    list-style:none;
}

.list {
    max-width: 400px;
    margin: auto;
}

/* .todos-list {
    max-width: 400px;
    margin: auto;
} */

.each-todo {
    display: flex;
    margin-bottom: 10px;
}

.todo-item {
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
}

.todo-btn {
    margin-left: 5px;
}

.finished {
    text-decoration-line: line-through;
}

.hide {
    display: none;
}